
/* Margin and padding settings here allow the container colors to extend to the edge of the screen. */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

body {
    font-family: 'Roboto', sans-serif;
}

#header {
    position: sticky;
    width: 100%;
    top: 0;
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(201, 47, 20, 0.9);
    font-family: 'Rubik', sans-serif;
    z-index: 2;
}

.header-img {
    width: 15vh;
}

nav ul {
    width: 30em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.5vh;
}

.nav-link {
    list-style: none;
  }

.nav-link a:link, a:visited {
    text-decoration: none;
    color: white;
}

.nav-link a:hover {
    color: rgb(20, 80, 26);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 3rem 0;
}

#pizza-box img {
    flex-grow: 1;
    width: 40vmax;
    margin-left: -4rem;
}

.main-text {
    flex-grow: 2;
    width: 1em;
    margin-right: 5em;
    font-weight: 200;
    font-size: 3vmin;
}

.main-text h1 {
    font-size: 7vmin;
    font-weight: 800;
}

.main-text p {
    line-height: 1.4em;
}

#products, #testimonials {
    background-color: red;
}

.section-heading {
    color: white;
    text-align: center;
    font-size: 15vh;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    text-shadow: -5px 6px rgb(100, 3, 3);
    letter-spacing: .1em;
    padding-top: .2em;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0px 15px 19px 1px rgba(0,0,0,0.5); 
    box-shadow: 0px 15px 14px 1px rgba(0,0,0,0.5);
}

.wrapper img {
    width: 35vh;
    margin: 0 4rem;
    filter: brightness(100%);
    -webkit-transition: filter .5s ease-out;
    transition: filter .5s ease-out;
}

.wrapper img:hover {
    filter: brightness(75%);
    -webkit-transition: filter .3s ease-in;
    transition: filter .3s ease-in;
}

.img-wrapper {
    text-align: center;
    margin-bottom: 2em;
}

.wrapper img:hover + .img-sub {
    opacity: 1;
    transition: opacity .3s ease-in;
}

.img-sub {
    opacity: 0;
    color: white;
    margin-top: .5em;
    font-weight: 600;
    font-size: 2em;
    text-decoration: underline;
    transition: opacity .3s ease-out;
}

#demo {
    display: flex;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 6em;
}

iframe {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

.cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card {
    width: 23em;
    margin: 4em 0;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    transition: all 0.2s;
    border-radius: 6px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}

.outline {
    border: 1px solid red;
}

.quote-mark {
    font-size: 7vmin;
    font-weight: 800;
}

blockquote {
    font-size: 1.6em;
    font-weight: 200;
    margin-bottom: 3em;
    padding: 0 2em;
}

.card-name {
    font-size: 1.7em;
    font-weight: 300;
    color: #333333;
}

.card-job {
    font-size: 1.2em;
    font-weight: 200;
    color: #717070
}

.card img {
    width: 10vmin;
    border-radius: 60%;
    position: relative;
    margin-top: -2.2em;
    top: 40px;
    box-shadow: 1px 5px 14px 0px black;
}

/* Use at least one media query (Story 14) */

/* Use flexbox at least once (Story 15) */